//
// Logo that appears in the top left corner of the page.
// 

.logo {
  display: block;
  text-indent: -9999px;
  text-align: center;
  width: 140px;
  height: 45px;
  background: url('#{$assets}/img/smartcosmos-logo.svg') no-repeat center center;
  background-size: 133px 40px;
}
