// component styles are encapsulated and only applied to their components
//

// Unfortunately, you have to repeat all imports.  If something needs third party
//  libraries you are probably better off making it a global style.
@import '../../style/variables';

.home-image {
  background: url('#{$assets}/img/smartcosmos-globe.svg') no-repeat left center;
  background-size: contain;
  height: 150px;
  margin: 20px auto;
}
